/* html, body {
    min-height: 100%;
    } */
    body, select, div, form, input{ 
    padding: 0;
    margin: 0;
    outline: none;
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
    color: rgba(82, 77, 77, 0.603);
    line-height: 22px;
    }
    input:read-only { background-color:#ccc; }
    p{
      font-family: Roboto, Arial, sans-serif;
      font-size: 14px;
      color: rgba(82, 77, 77, 0.603);
      float: right;
      margin-top: 0.67em;
      margin-bottom: 0.67em;
    }
    h1{
        display: block;
        font-size: 1em;
        margin-top: 0.67em;
        margin-bottom: 0.67em;
        margin-left: 0;
        margin-right: 100;
        font-weight: bold;
        float: right;
      }
    .testbox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    /* padding: 5px; */
    }
    /* form {
    width: 100%;
    padding: 20px;
    background: #fff;
    box-shadow: 0 2px 5px #ccc; 
    } */
    input, select, textarea {
    margin-bottom: 10;
    border: 1px solid #666;
    border-radius: 3px;
    }
    /* input {
    width: calc(150% - 10px);
    padding: 5px;
    } */
    /* select {
    width: 100%;
    padding: 7px 0;
    background: transparent;
    } */
    textarea {
      width: calc(100% - 6px);
      text-align:right;
    }
    .lable {
      text-align:right;
    }
    /* .item {
    position: relative;
    margin: 10px 0;
    } */
    /* .item:hover p, .item:hover i {
    color: #095484;
    }
    input:hover, select:hover, textarea:hover {
    box-shadow: 0 0 5px 0 #095484;
    } */
    .btn-block {
    margin-top: 20px;
    text-align: center;
    }
    .name-item {
      /* margin-top: 20px; */
      text-align: right;
      }
    button {
    width: 150px;
    padding: 10px;
    border: none;
    -webkit-border-radius: 5px; 
    -moz-border-radius: 5px; 
    border-radius: 5px; 
    background-color: #095484;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    }
    button:hover {
    background-color: #0666a3;
    }
    
    .name-item, .city-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    }
    .name-item input, .city-item input {
    width: calc(50% - 20px);
    }
    .city-item select {
    width: calc(50% - 8px);
    }

    input[type="text"]:disabled {
      background: #ccc;
    }

    input[type="date"] {
      float: right;
    }
    ::-webkit-input-placeholder { text-align:right; }