/* html, body {
    min-height: 100%;
    } */
    body, select, div, form, input{ 
    padding: 0;
    margin: 0;
    outline: none;
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
    color: rgba(82, 77, 77, 0.603);
    line-height: 22px;
    /* text-align: right; */
    }
    input:read-only { background-color:#ccc; }
    p{
      font-family: Roboto, Arial, sans-serif;
      font-size: 14px;
      color: rgba(82, 77, 77, 0.603);
      float: right;
      margin-top: 0.67em;
      margin-bottom: 0.67em;
      text-align: right;
    }
    h1{
        display: block;
        font-size: 1em;
        margin-top: 0.67em;
        margin-bottom: 0.67em;
        margin-left: 0;
        margin-right: 100;
        font-weight: bold;
        float: right;
      }
    .testbox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    /* padding: 5px; */
    }
    input, select, textarea {
    margin-bottom: 10;
    border: 1px solid #666;
    border-radius: 3px;
    }
    
    textarea {
      width: calc(100% - 6px);
      text-align:right;
    }
    .lable {
      text-align:right;
    }
    .item {
    position: relative;
    margin: 10px 0;
    text-align: right;
    }
    .btn-block {
    margin-top: 20px;
    text-align: center;
    }

    button {
    width: 150px;
    padding: 10px;
    border: none;
    -webkit-border-radius: 5px; 
    -moz-border-radius: 5px; 
    border-radius: 5px; 
    background-color: #095484;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    }
    button:hover {
    background-color: #0666a3;
    }
    
    .name-item, .city-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    }
    .name-item input, .city-item input {
    width: calc(50% - 20px);
    }
    .city-item select {
    width: calc(50% - 8px);
    }

    input[type="text"]:disabled {
      background: #ccc;
    }

    input[type="date"] {
      float: right;
    }
    ::-webkit-input-placeholder { text-align:right; }
    