.Home .lander {
    /* padding: 100px 50px; */
    text-align: center;
  }
  
  .Home .lander h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    text-align: center;
  }
  
  .Home .lander p {
    color: #999;
    text-align: center;
  }

  /* table {
    min-width:30px 
  } */